@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

h1 {
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
    font-size: 5rem;
    text-shadow: #052440 1px 0 10px;
}

h2 {
    text-align: center;
    text-shadow: #052440 1px 0 10px;
    font-size: 2rem;
}

h3 {
    text-align: center;
    padding: 20px;
    text-shadow: #052440 1px 0 10px;
    font-size: 1.4rem;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(media/building-gffc2a384e_1920.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    position: sticky;
    color: #fff;
    top: 0;
    z-index: 0;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0%;
    top: 0%;
    padding: 15px;
    height: 60px;
    width: 100%;
    text-align: center;
    background-color: #021627;
}

#nav {
    display: none;
}

ul a {
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
    text-shadow: #021627 1px 0 10px;
    padding: 15px;
    transition: 0.3s ease-in-out;
}


nav a:hover {
    transition: 0.3s ease-in-out;
}

nav img {
    height: 50px;
    padding-right: 50px;
}

section {
    position: relative;
    padding: 4rem;
    background-color: #052440;
}

#grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4rem;
}

#grid h3 {
    color: #fff;
    max-width: 200px;
    margin: 0 auto;
}

#grid p {
    color: #fff;
    text-align: center;
    max-width: 200px;
    margin: 0 auto;
}

#grid img {
    flex-wrap: wrap;
    height: 30vh;
    border-radius: 50%;
}

#about {
    color: #fff;
    font-size: 1.37rem;
    text-align: center;
    padding: 40px;
}

#about p {
    line-height: 36px;
    max-width: 1400px;
}

#location {
    height: 100vh;
    padding: 0px;
}

#map {
    width: 100%;
    height: 100%;
}

#map:hover {
    cursor: pointer;
}

#timetable {
    width: 100%;
    margin: 0 auto;
    color: #fff;
}

#timetable h2 {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th,
td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #8d99ae;
}

tr {
    background-color: #8d99ae;
}

td:first-child {
    width: 150px;
}

td:nth-child(2) {
    width: 400px;
}

td:last-child {
    width: 250px;
}

#register {
    display: flex;
}

form {
    width: 1400px;
    padding: 30px;
    color: #fff;
}

form h2 {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
    text-transform: uppercase;
    padding: 5px;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
}

button[type="submit"] {
    position: absolute;
    right: 0;
    margin-right: 96px;
    padding: 10px;
    font-size: 1.2rem;
    background-color: #8d99ae;
    color: #fff;
    border: none;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
}

button[type="submit"]:hover {
    background-color: #717a8b;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

#form button:hover {
    transform: scale(1.1);
}

#contact {
    padding: 40px 0;
    text-align: center;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 10px;
    font-size: 1.3rem;
    color: #555;
    border-radius: 50%;
    transition: all 0.3s ease;
}

#links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #021627;
    height: auto;
    position: relative;
    padding: 4rem;
}

footer li {
    margin: 1rem;
}

footer img {
    padding: 30px;
    width: 8rem;
    height: 7rem;
    transition: all 0.3s;
}

#logo img {
    height: 200px;
    width: 200px;
}

footer a {
    text-decoration: none;
}

footer a:hover img {
    transform: scale(1.3);
}

#marker {
    width: 50px;
    height: 50px;
    background-image: url(media/pin.png);
    background-size: cover;
    cursor: pointer;
}

@media (max-width: 950px) {
    footer {
        display: block;
        justify-content: center;
    }
}

@media (max-width: 730px) {
    #navigation {
        display: none;
    }

    #nav {
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s;
        /* position: relative; */
    }

    #nav ul {
        list-style: none;
        text-align: center;
    }

    #nav a {
        color: #fff;
        text-decoration: none;
        font-size: 1.6rem;
        display: block;
        padding: 0.5rem;
        transition: transform 0.3s;
    }

    #nav a:hover {
        transform: scale(1.2);
    }

    #nav.open {
        opacity: 1;
        visibility: visible;
    }

    #hamburger {
        width: 60px;
        height: 45px;
        position: absolute;
        top: 1rem;
        right: 1rem;
        transform: scale(0.8);
        cursor: pointer;
        z-index: 99;
    }

    #hamburger span {
        display: block;
        height: 9px;
        width: 100%;
        background-color: #fff;
        border-radius: 9px;
        position: absolute;
        transition: all 0.3s ease-out;
    }

    #hamburger span:nth-child(1) {
        top: 0;
    }

    #hamburger span:nth-child(2) {
        top: 18px;
    }

    #hamburger span:nth-child(3) {
        top: 18px;
    }

    #hamburger span:nth-child(4) {
        top: 36px;
    }

    #hamburger.x span:nth-child(1) {
        top: 18px;
        opacity: 0;
    }

    #hamburger.x span:nth-child(2) {
        transform: rotate(45deg);
    }

    #hamburger.x span:nth-child(3) {
        transform: rotate(-45deg);
    }

    #hamburger.x span:nth-child(4) {
        top: 18px;
        opacity: 0;
    }
}